		<nav class="nav">
			<div class="nav-container">
				<a href="{{ "/" | relURL }}">
					<h2 class="nav-title">{{ .Site.Title }}</h2>
				</a>
				{{ partial "header-menu.html" . }}
			</div>
		</nav>
		<center><script type="text/javascript">
	atOptions = {
		'key' : '12b76754517f898796bc4be794828434',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.gatetodisplaycontent.com/12b76754517f898796bc4be794828434/invoke.js"></scr' + 'ipt>');
</script></center>
